body {
    color: #14fe17;
    background: #272b23;
}

ul > li.nav-item > a.nav-link, ul > li.navbar-item.active > a.nav-link, a {
  color: #14fe17 !important;
}

.center-image img {
  margin: auto;
  display: block;
  position: relative;
  max-height: 300px;
  margin-top: 100px;
  filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(1.2);
}

.pip-footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
}
